<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="../js/ch03_computed.js"></script>
    <link rel="stylesheet" href="../css/ch03_index.css">
</head>
<body>
    <div id="app">
        <div class="todos">
            <div v-for="todo in computedTodos" :key="todo.id">
             <input type="checkbox" v-model="todo.done"> 
             <span>{{ todo.title }}</span>  
            </div>
        </div>
    </div>
</body>
</html>